body {
  background-color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
}



 label {
  position: absolute;
  font-size: 1rem;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  color: gray;
  margin: 0 0.5rem;
  transition: .1s ease-out;
  transform-origin: left top;
  pointer-events: none;
}

input {
  font-size: 1rem;
  outline: none;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 0.5rem 1.0rem;
  color: gray;
  transition: 0.1s ease-out;
}

 input:focus {
  border-color: #6200EE;
}

 input:focus+label {
  color: #6200EE;
  top: -10px;
}

  .no-acc{
  position: absolute;
  top: 400px;
  font-size: 18px;
  left: 44%;
  font-weight: lighter;
  color: #87c0cd;
  z-index: 3;
}

.col-sm-6{
  position: absolute;
  left: 10%;

}

.container-fluid {
  position: relative;

  background-color: white;
}

.col-sm-6 {
  position: absolute;

  left: -1%;
}

.acc-title {
  position: absolute;
  top: 145px;
  z-index: 5;
  left: 40%;
  font-weight: lighter;
  color: #87c0cd;
}

.desc-title {
  position: absolute;
  top: 490px;
  z-index: 5;
  left: 14%;
  font-weight: lighter;
  color: #87c0cd;
}

#middleOne {

  position: relative;
  background-color: #bfd8d5;
  padding-bottom: 550px;
}

#middleOne .kurzBeschreibung {
  font-size: 26px;
  font-weight: bold;
  color: #87c0cd;
  text-align: center;
}

#middleTwo {

  position: relative;
  background-color: white;
  padding-bottom: 250px;
}

.iconTermin {
  position: absolute;
  left: 80px;
  font-size: 80px;
}

 .iconDoc {
  position: absolute;
  left: 260px;
  font-size: 80px;
}

 .iconNote {
  position: absolute;
  left: 520px;
  font-size: 80px;
}

 .iconFolder {
  position: absolute;
  left: 820px;
  font-size: 80px;
}

 .iconMessage {
  position: absolute;
  left: 1150px;
  font-size: 80px;
}

#middleTwo .termin-title {
  position: absolute;
  font-size: 20px;
  font-weight: lighter;
}

#middleTwo .doc-title {
  position: absolute;
  font-size: 20px;
  font-weight: lighter;
}

#middleTwo .note-title {
  position: absolute;
  font-size: 20px;
  font-weight: lighter;
}

#middleTwo .folder-title {
  position: absolute;
  font-size: 20px;
  font-weight: lighter;
}

#middleTwo .message-title {
  position: absolute;
  font-size: 20px;
  font-weight: lighter;
}

#middleThree {
  position: relative;
  background-color: #bfd8d5;
  padding-bottom: 450px;
}


.col-sm-6 .title {
  position: absolute;
  text-align: center;
  left: 50%;
  top: 100px;
  font-size: 26px;
  font-weight: bold;
  color: #89a4c7;
}

.container-fluid .col-sm-6 .form .input_field {
  position: relative;
  margin-bottom: 50px;
}

.container-fluid .col-sm-6 .form .input_field .input {
  margin: 0 5px;
  font-size: 15px;
  position: relative;
  left: 30%;
  top: 200px;
  width: 50%;
  padding: 12px;
  padding-left: 30px;
  /*border: none;*/
  background: #eeeeee;
}

.container-fluid .col-sm-6 .form .btn {
  width: 25%;
  position: absolute;
  left: 50%;
  margin-left: -50px;
  bottom: 80px;
  background: #89a4c7;
  text-align: center;
  padding: 12px;
  border-radius: 25px;
}

.container-fluid .col-sm-6 .form .btn a {
  color: #fff;
}
