body{
  background-color: #faf9f9;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
font-family: 'Open Sans', sans-serif;
}

.topnav  {
  background-color: #ecfbfc;
  overflow: hidden;
  position: relative;
  top: -550px;
}


.topnav p {
  float: left;
  color: black;
  text-align: center;
  padding: 30px 16px;
  text-decoration: none;
  font-size: 17px;
}

/*
.topnav .logMail{
position: absolute;
margin-left: 650px;
top: 30px;
padding: 7px;
padding-left: 20px;
border-radius: 4px;
border: 1px solid #ccc;
display: inline-block;
box-sizing: border-box;
background: #eeeeee;

}

.topnav .logMail:focus{
   outline: 2px solid pink;
 transition: 0.8s;
}

.topnav .mailTitle{
  margin-left: 731px;
  position: absolute;
  top: 8px;
  color: #f2f2f2;
}
*/
/*
<div class="topnav">
  <p>LOGO</p>
   <div class="mailTitle">
    <label>E-Mail-Adresse</label>
   </div>
   <input type="text" placeholder="Email" class="logMail">
   <i class="mail"></i>
*/
.m-textfield {
  top: 30px;
  position: relative;
}

.p-textfield{
  top: -07px;
  position: relative;
  left: 250px;
}

.mail {
  height: 100%;
  display: flex;
  justify-content: center;

}

.pass{
  height: 100%;
  display: flex;
justify-content: center;
}



label {
  position: absolute;
  font-size: 1rem;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  color: gray;
  margin: 0 0.5rem;
  transition: .1s ease-out;
  transform-origin: left top;
  pointer-events: none;
}
input {
  font-size: 1rem;
  outline: none;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 0.5rem 1.0rem;
  color: gray;
  transition: 0.1s ease-out;
}
input:focus {

  border-color: #6200EE;
}
input:focus + label {
  color: #6200EE;
  top: -10px;

}


#top-cut {
    position: relative;
    padding-top: 550px;
    background-color: #faf9f9;
}



#middleOne {
top: 100px;
position: relative;
background-color: #bfd8d5;
padding-bottom: 550px;

}

#middleOne .kurzBeschreibung{
  font-size: 26px;
  font-weight: bold;
  color: #87c0cd;
  text-align: center;
}

#middleTwo{
  top: 300px;
  position: relative;
  background-color: #faf9f9;
  padding-bottom: 350px;
}

#middleTwo .iconTermin {
position: absolute;
top: -100px;
left: 80px;
font-size: 80px;
}

#middleTwo .iconComm{
  position: absolute;
  top: -1px;
  left: 260px;
  font-size: 80px;
}


#middleTwo .termin-title{
position: absolute;
left: 40px;
font-size: 20px;
font-weight: lighter;
}

#middleTwo .comm-title{
  position: absolute;
  left: 300px;
  font-size: 20px;
  font-weight: lighter;
}


#middleThree {
  top: 100px;
  position: relative;
  background-color: #bfd8d5;
  padding-bottom: 450px;
}

#top-cut .title{
position: absolute;
text-align: center;
left: 1050px;
top: 160px;
font-size: 26px;
font-weight: bold;
color: #0c7b93;

}
.acc-title{
  position: absolute;
  top: 145px;
  z-index: 5;
  left: 14%;
  font-weight: lighter;
  color: #0c7b93;
}
.desc-title{
  position: absolute;
  top: 490px;
  z-index: 5;
  left: 14%;
  font-weight: lighter;
  color: #0c7b93;
}

#top-cut .form .input_field{
  position: relative;
  margin-bottom: 50px;

}

#top-cut .vorName .input_field .input{
  margin: 0 5px;
  font-size: 15px;
  position: relative;
  top: -1753px;
  left: 65%;
  width: 13%;
  padding: 12px;
  padding-left: 30px;
  background: #eeeeee;

}



#top-cut .nachName .input_field .input{
  margin: 0 5px;
  font-size: 15px;
  position: relative;
  top: -1795px;
  left: 80%;
  width: 13%;
  padding: 12px;
  padding-left: 30px;
  background: #eeeeee;
}

#top-cut .form .input_field .input{
  margin: 0 5px;
  font-size: 15px;
  position: relative;
  top: -1740px;
  left: 65%;
  width: 28%;
  padding: 12px;
  padding-left: 30px;
  /*border: none;*/
  background: #eeeeee;

}


#top-cut .form .btn{
  width: 15%;
  position: absolute;
  text-align: center;
  left: 1035px;
  top: 590px;
  background:#0c7b93;
  text-align: center;
  padding: 12px;
  border-radius: 25px;
}

#top-cut .form .btn a{
  color: #fff;
}



.doctor-img {
  position: absolute;
  top: 240px;
  left: 163px;
  opacity:0.6;
  z-index: 1;
  margin: 0 5px;
  width: 155px;
  height: 155px;
  line-height: 35px;
  text-align: center;
  border: 2px solid #eeeeee;
  border-radius: 50%;
  cursor: pointer;
  color: #eeeeee;
  transition: all 0.5s ease;

}
.doctor-img:hover{
  border: 2px solid #3aaf9f;
  color: #3aaf9f;
  opacity:1;
}

#box1 .d-caption{
margin: 140px auto 0;
position: absolute;
top: 275px;
left: 15%;
font-size: 18px;
font-weight: lighter;
color: #0c7b93;
z-index: 3;
}


#box1 a{

font-weight: lighter;
color: #0c7b93;

}


#box2 .p-caption{
margin: -280px auto 0;
top: 310px;
position: relative;
left: 36%;
font-size: 18px;
font-weight: lighter;
color: #87c0cd;
z-index: 4;
}

.patient-img:hover{
  border: 2px solid #3aaf9f;
  color: #3aaf9f;
    opacity:1;
}
.patient-img{
  position: relative;
  top: 10px;
  left: 18px;
  opacity:0.6;
  z-index: 2;
  margin: 0 5px;
  width: 155px;
  height: 155px;
  line-height: 35px;
  text-align: center;
  border: 2px solid #eeeeee;
  border-radius: 50%;
  cursor: pointer;
  color: #eeeeee;
  transition: all 0.5s ease;
}

#box2 {
   position: absolute;
   width: 200px;
   height: 200px;
   top: 230px;
   left: 450px;
   border-radius: 20px;
   z-index: 2;
}
